{% extends "Home/base.html" %}


{% block css_content %}

{% load static %}
<link rel="stylesheet" href={% static "Home/css/eliminarO.css" %}>


{% endblock %}

{% block body_content %}



<div id="formas">
        <h3>Eliminar</h3>
        <hr>
        <form method="post">
                {% csrf_token %}
                <input type="text" name="correo" required placeholder="Correo"> <br>
                <hr>
                <input id="button-loggin" type="submit" value="Eliminar">
            
            </form>
</div>
{% endblock %}
