{% extends "Home/base.html" %}

{% block css_content %}

{% load static %}
<link rel="stylesheet" href={% static "Home/css/homeA.css" %}>


{% endblock %}

{% block body_content %}

<div id="aveces">
        {% if user.is_authenticated %}
        
                
        
                {% if user.email == 'pumaeventosunam@gmail.com' %}
        
                <div>
                        <h1 id="aveces"><a href="{% url 'Home:registrarO' %}">Registrar </a></h1>
                        <h1><a href="{% url 'Home:eliminarO' %}">Eliminar</a></h1>
                </div>
        
                {% else %}
                {% if user.first_name == 'Organizador' %}
        
                        <div>
                                <h1 id="aveces"><a href="{% url 'Eventos:crearEvento' %}">Crear Evento </a></h1>
                                <h1><a href="{% url 'Eventos:updateEvento' %}">Editar Evento</a></h1>
                                <h1><a href="{% url 'Eventos:deleteEvento' %}">Borrar Evento</a></h1>
                        </div>
                
                {% else %}
                
                        <div>
                                <h1 id="aveces"><a href="{% url 'Home:registrarO' %}">Ver detalles de eventos </a></h1>
                                <h1><a href="{% url 'Home:eliminarO' %}">Cuenta</a></h1>
                        </div>

                
                {% endif %}                


                
                {% endif %}


        {% else %}
        
                <h1>Necesitas logearte</h1>
        {% endif %}
</div>

{% endblock %}
