{% extends "Home/base.html" %}



{% block css_content %}

{% load static %}
<link rel="stylesheet" href={% static "Home/css/registrarU.css" %}>


{% endblock %}

{% block body_content %}

<div id="formas">
        <h3>Registrarse</h3>
        <hr>
        <form method="post">
                {% csrf_token %}
                <input type="text" name="nombre" required placeholder="Nombre Completo"> <br>
                <input type="text" name="entidad" required placeholder="Entidad"><br>
                <input type="email" name="correo" required placeholder="Correo"><br>
                <input type="password" name="password" required placeholder="Contraseña"><br>
                <input type="file" name="avatar" accept="image/*">
                <hr>
                <input id="button-loggin" type="submit" value="Registrar">
            
            </form>
</div>
{% endblock %}
