#formas{
    position: fixed;
    left: 75%;
    top: 35%;
    transform: translate(-50%,-50%)
}
h3{
    text-align: center;
}
#button-loggin{
    position: relative;
    left: 50%;
    top: 10px;
    transform: translate(-50%,-50%)
}
.user-login-box{
    position: relative;
    margin-top: 50px;
    text-align: center;
    z-index: 1;
}
.blurred-box{
    position: fixed;

    width: 450px;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: inherit;
    border-radius: 2px;
    overflow: hidden;
    border-radius: 10px;
  }
  
.blurred-box:after{
   content: '';
   width: 500px;
   height: 650px;
   background: inherit; 
   position: absolute;
   left: -25px;

   right: 0;
   top: -25px;  
   bottom: 0;
   box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.822);
   filter: blur(10px);
  }
h3{
    color: white;
}