@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|QuickSand|Open+Sans|Indie+Flower&display=swap');

html{
    margin: 0 0;
    background-color: #21D4FD;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a1575537e893a5d_32.%20Banana%20Mania.jpg");    
}
#aveces{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}
#aveces h1:hover{
    transform: scale(1.2);
    text-decoration: none;
    color: white;
}
div h1 a{
    color: white;
    font-family: 'Indie Flower', monospace
}
div h1 a:hover{
    text-decoration: none;
    color: white;
    transform: scale(1.1);
}