
#logina {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#logina > h3 {
    text-align: center;
}
#button-loggin{
    position: relative;
    left: 50%;
    top: 15px;
    transform: translate(-50%,-50%)
}
#registrarse{
    position: absolute;
    text-decoration: none;
    left: 50%;
    margin-top: 10px;
    font-size: 12px;
    transform: translate(-50%,-50%)
}
