{% extends 'base.html' %}

{% block content %}
  {% include 'usuario/players/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Evento</th>
          <th>Categoria</th>
          <th>Duración</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for evento in eventos %}
          <tr>
            <td class="align-middle">{{ evento.name }}</td>
            <td class="align-middle">{{ evento.subject.get_html_badge }}</td>
            <td class="align-middle">{{ evento.questions_count }} Eventos</td>
            <td class="text-right">
              <a href="{% url 'players:append_evento' evento.pk %}" class="btn btn-primary">Inscribirse a evento</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No hay eventos a los que estes inscritos actualmente.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
